/*
 * main.css
 * Danilo Zekovic
 * load all other sub files containing styles
 */

@import "layouts/marketing-old-ie.css";
@import "layouts/marketing.css";
@import "menuToggle.css";                  /* Danilo Zekovic */
@import "filepicker.css";                  /* Brian Capouch */
@import "dropzone.min.css";                /* Brian Capouch */
@import "uploader.css";                    /* Brian Capouch */
@import "login.css";                       /* Danilo Zekovic */

.splash-container {
  background-image: url("img/background.png");
}

.home-menu {
  background: #5D3708;
}

.ribbon {
    background: #E98509;
    color: #800000;
}
